<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="entities.EntityTest"/>
      <class name="entities.AndGateTest"/>
      <class name="entities.OrGateTest"/>
      <class name="entities.ConnectionTest"/>
      <class name="commands.NewProjectTest"/>
      <class name="commands.NewEntityTest"/>
      <class name="commands.NewConnectionTest"/>
      <class name="commands.ClockSimulationTest"/>
      <class name="commands.SimpleSimulationTestWithAndGate"/>
      <class name="commands.SimpleSimulationTestWithOrGate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
